[user]
	name = Chris Tierney
	email = drchristierney@gmail.com

[alias]
	graph = log --oneline --graph --decorate --color
	prlog = log --format=format:\"- %h **%s**%n%n%w(0,2,2)%b\" --reverse origin/HEAD..HEAD
	releaselog = "!git log --oneline --no-merges --reverse $(git tag -l | head -1)..HEAD"

[pull]
	rebase = true
	prune = true

[fetch]
	prune = true

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[push]
	autoSetupRemote = true
	default = current
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
